body {
    font: 400 16px/1 'Pretendard-Regular', sans-serif; color: #292929;
}


/* header */
header {
    padding: 32px 0;
    display: flex;
    flex-direction: column; align-items: center;
    position: relative;
    background-color: #ab9078;
}
    header>h1 {
        margin-bottom: 8px;
        font: 900 48px/1 'Sacramento', cursive; color: #fff;
        text-shadow: 2px 2px #3b1a0b;
    }
    header>p {
        font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
    }



    
/* BookMain */
section#bookMain {
    width: 1024px; height: 800px;
    margin: 64px auto 0;
    position: relative;
}
    section#bookMain>h2 {
        font: 900 24px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
        text-indent: 40px; line-height: 32px;
    }
    section#bookMain>h2>span {
        position: absolute;
        top: 0px; left: -40px;
        font-size: 32px;
    }

    /* form */
    section#bookMain>form {
    }
        /* common */
        section#bookMain fieldset {
            width: 100%; height: 600px;
            position: absolute;
            top: 72px; left: 0;
            background-color: #fff;
        }
            section#bookMain fieldset>legend {
                padding: 8px 24px;
                position: absolute;
                top: -72px; left: 144px;
                border-radius: 16px;
                background-color: #3b1a0b;
                color: #fff;
            }
            button.nextStep, button.prevStep {
                width: 120px;
                padding: 8px 24px;
                position: absolute;
                bottom: -64px; right: 0;
                border-radius: 16px;
                background-color: #ab9078;
                font: 900 16px/1 'Pretendard-Black', sans-serif; color: #fff;
                border: none;
                cursor: pointer;
            }
            button.prevStep {
                bottom: -64px; left: 0;
            }
            button.nextStep:hover, button.prevStep:hover {
                background-color: #3b1a0b;
            }

        /* bookStep01 */
        ul.optionList {
            width: 100%; height: 100%;
            display: flex;
            flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-content: space-between;
        }
            ul.optionList>li {
                display: flex;
                align-items: center;
            }
            ul.optionList input {
                width: 16px; height: 16px;
                margin: 0; margin-right: 8px;
                appearance: none;
                border: 2px #3b1a0b solid;
            }
            ul.optionList input:checked {
                background-color: #fff;
                border: 6px #3b1a0b solid;
            }
            /* list */
            ul.optionList figure {
                width: 440px; height: 130px;
                display: flex;
                flex-direction: row-reverse;
                overflow: hidden;
                box-sizing: border-box;
                cursor: pointer;
                border-bottom: 1px #ab9078 solid;
            }
            ul.optionList figure:hover {
                background-color: #ab9078;
            }
                ul.optionList figure>img {
                    height: 100%;
                }
                ul.optionList figcaption {
                    width: 60%;
                    padding-right: 24px;
                    display: flex;
                    align-items: center;
                }
                ul.optionList figcaption dt {
                    margin-bottom: 8px;
                    font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
                }
                ul.optionList figcaption dd {
                    font-size: 12px;
                    text-align: justify; line-height: 1.2;
                }


        /* bookStep02 */
        fieldset:nth-of-type(2) {
            display: flex;
            flex-direction: column; justify-content: space-between; align-content: space-between;
            display: none;
        }
        /* common */
        fieldset:nth-of-type(2) ul, fieldset:nth-of-type(2) div {
            width: 100%;
            display: flex;
            justify-content: space-between; align-items: center;
            position: relative;
        }
            fieldset:nth-of-type(2) li>span {
                width: 2px; height: 24px;
                display: block;
                background-color: #ab9078;
            }
            fieldset:nth-of-type(2) ul:nth-of-type(1) label,
            fieldset:nth-of-type(2) ul:nth-of-type(2) label,
            fieldset:nth-of-type(2) div label,
            fieldset:nth-of-type(2) div h3 {
                display: inline-block;
                margin-right: 16px;
                font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
            }
            fieldset:nth-of-type(2) li>input,
            fieldset:nth-of-type(2) textarea {
                height: 24px;
                border: none;
                outline: none;
                background-color: #ab9078;
                font: 400 16px/1 'Pretendard-Regular', sans-serif; color: #fff;
                text-align: center;
            }
            fieldset:nth-of-type(2) ul:nth-child(2) input, fieldset:nth-of-type(3) ul:nth-child(2) input {
                width: 200px;
            }
            fieldset:nth-of-type(2) ul:nth-child(2) li:last-child input {
                width: 80px;
            }


        /* row1 */
        fieldset:nth-of-type(2) ul:nth-child(2) p {
            position: absolute;
            top: 32px; right: 0;
            font-size: 12px; color: #888;
        }


        /* row2 */


        /* row3 */
        fieldset:nth-of-type(2) textarea {
            width: 900px; min-height: 26px; max-height: 64px;
            padding: 0 16px;
            box-sizing: border-box;
            font-family: 'Pretendard-Regular', sans-serif; font-weight: 400;
            text-align: justify; line-height: 24px;
            resize: vertical;
        }
        fieldset:nth-of-type(2) textarea::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }


        /* row4 */
        fieldset:nth-of-type(2) div:nth-child(5) {
            flex-direction: column; align-items: start;
        }
        fieldset:nth-of-type(2) div:nth-child(5) h3 {
            margin-bottom: 8px;
        }
        fieldset:nth-of-type(2) div:nth-child(5)>div {
            height: 300px;
            display: flex;
            flex-direction: column;
            border: 1px #ab9078 solid;
        }
        fieldset:nth-of-type(2) div:nth-child(5) dl {
            height: 100px;
        }
        fieldset:nth-of-type(2) div:nth-child(5) dt {
            height: 32px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-top: 1px #ab9078 solid;
            border-bottom: 1px #ab9078 solid;
        }
        fieldset:nth-of-type(2) div:nth-child(5) dl:nth-child(1) dt {
            border-top: none;
        }
        fieldset:nth-of-type(2) div:nth-child(5) dd {
            height: 68px;
            padding: 8px 16px;
            overflow: scroll;
            overflow-x: hidden;
            box-sizing: border-box;
            color: #888;
            text-align: justify;
        }


        /* row5 */
        fieldset:nth-of-type(2) ul:nth-child(6) {
            flex-direction: column; align-items: start;
        }
        fieldset:nth-of-type(2) ul:nth-child(6)>li {
            display: flex;
            align-items: center;
        }
        fieldset:nth-of-type(2) ul:nth-child(6)>li:first-child {
            margin-bottom: 16px;
        }
        fieldset:nth-of-type(2) ul:nth-child(6) input {
            width: 16px; height: 16px;
            margin: 0; margin-right: 8px;
            appearance: none;
            border: 2px #3b1a0b solid;
            background-color: transparent;
        }
        fieldset:nth-of-type(2) ul:nth-child(6) input:checked {
            background-color: #fff;
            border: 6px #3b1a0b solid;
        }
        fieldset:nth-of-type(2) ul:nth-child(6) p {
            text-indent: 24px;
            color: #dc2114;
        }
        fieldset:nth-of-type(2) ul:nth-child(6) p>span {
            font-size: 20px;
            position: absolute;
            top: 30px; left: -24px;
            color: #dc2114;
        }




/* bookModal */
div#bookModal {
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
    div#bookModal>div.bookModal {
        width: 640px; height: 640px;
        padding: 64px;
        position: fixed;
        top: calc(50% - 320px); left: calc(50% - 320px);
        box-sizing: border-box;
        background-color: #fff;
    }
    div.bookModal h4 {
        margin-bottom: 32px; padding-bottom: 16px;
        font: 900 24px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
        text-indent: 40px; line-height: 32px;
        position: relative;
        border-bottom: 2px #3b1a0b solid;
    }
    div.bookModal h4>span {
        position: absolute;
        top: 0px; left: -40px;
        font-size: 32px;
    }

    
    /* modal content */
    div.bookModal dl {
        margin-bottom: 64px;
        position: relative;
    }
    div.bookModal dt {
        margin-bottom: 8px;
        font: 900 20px/1 'Pretendard-Black', sans-serif;
    }
    div.bookModal dd:nth-of-type(1) {
        margin: 0 8px 32px 0;
        display: inline-block;
        font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
    }
    div.bookModal dd:nth-of-type(2) {
        display: inline-block;
        font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
    }
    div.bookModal dd:nth-of-type(3) {
        margin-bottom: 4px;
        font: 900 16px/1 'Pretendard-Black', sans-serif;
    }
    div.bookModal dd:nth-of-type(4) {
        margin-bottom: 4px;
    }
    div.bookModal dd:nth-of-type(5) {
        height: 112px;
        padding: 8px 16px;
        overflow: scroll;
        overflow-x: hidden;
        text-align: justify;
        background-color: #ddd;
        color: #888;
    }
    div.bookModal div>label {
        margin-top: 4px;
        float: left;
    }
    div.bookModal div>label>b {
        font: 900 16px/1 'Pretendard-Black', sans-serif; color: #ab9078;
    }
    div.bookModal div>input {
        width: 120px; height: 24px;
        margin-bottom: 16px;
        box-sizing: border-box;
        float: right;
        border: 1px #3b1a0b solid;
        outline: none;
    }
    div.bookModal div>p {
        position: relative;
        clear: both;
        color: #dc2114;
        text-indent: 24px;
    }
    div.bookModal div>p>span {
        font-size: 20px;
        position: absolute;
        top: -2px; left: -24px;
        color: #dc2114;

    }
    div.bookModal>input {
        width: 120px;
        padding: 8px 24px;
        position: absolute;
        bottom: 64px; left: calc(50% - 60px);
        background-color: #ab9078;
        font: 900 16px/1 'Pretendard-Black', sans-serif; color: #fff;
        border: none;
        cursor: pointer;
    }
    div.bookModal>input:hover {
        background-color: #3b1a0b;
    }
    div.bookModal>p {
        position: absolute;
        top: 32px; right: 32px;
        font-size: 32px; color: #3b1a0b;
        cursor: pointer;
    }




/* bookList */
section#bookList {
    width: 100%;
    background-color: #ab9078;
}
    section#bookList>div {
        width: 1024px;
        margin: 0 auto; padding: 64px 0;
    }
        section#bookList h2 {
            margin-bottom: 32px;
            position: relative;
            font: 900 24px/1 'Pretendard-Black', sans-serif; color: #fff;
            text-indent: 40px; line-height: 32px;
        }
        section#bookList h2>span {
            position: absolute;
            top: 0px; left: -40px;
            font-size: 32px;
        }


        /* search */
        div#searchBox {
            width: 100%; height: 32px;
            margin: 0 auto 48px;
            display: flex;
            position: relative;
        }
            div#searchBox>input {
                width: 904px; height: 100%;
                box-sizing: border-box;
                outline: none;
                border: 2px #3b1a0b solid;
                border-right: none;
                text-indent: 16px;
            }
            div#searchBox>p {
                position: absolute;
                top: 4px; right: 136px;
                font-size: 24px; color: #3b1a0b;
            }
            div.sortBtn {
                width: 120px; height: 100%;
                display: flex;
                justify-content: center; align-items: center;
                background-color: #3b1a0b;
                color: #fff;
                cursor: pointer;
            }
            div.sortBtn>p>span {
                position: absolute;
                top: 8px; right: 8px;
                font-size: 16px;
            }
            div.sortBtn>ul {
                width: 120px; height: 96px;
                display: flex;
                flex-direction: column; justify-content: space-between; align-items: center;
                position: absolute;
                top: 0; right: 0;
                box-sizing: border-box;
                background-color: #3b1a0b;
                display: none;
            }
            div.sortBtn>ul>li {
                height: 32px;
                display: flex;
                justify-content: center; align-items: center;
            }


    /* listEach */
    ul.listEach>li {
        width: 1024px;
        margin: 0 auto 24px; padding: 32px;
        position: relative;
        box-sizing: border-box;
        background-color: #fff;
    }
    ul.listEach li:last-child {
        margin-bottom: 0;
    }
        ul.listEach dt {
            margin-bottom: 8px;
            font: 900 20px/1 'Pretendard-Black', sans-serif;
        }
        ul.listEach dd:nth-of-type(1) {
            margin: 0 8px 32px 0;
            display: inline-block;
            font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
        }
        ul.listEach dd:nth-of-type(2) {
            display: inline-block;
            font: 900 16px/1 'Pretendard-Black', sans-serif; color: #3b1a0b;
        }
        ul.listEach dd:nth-of-type(3) {
            margin-bottom: 4px;
            font: 900 16px/1 'Pretendard-Black', sans-serif;
        }
        ul.listEach dd:nth-of-type(4) {
            margin-bottom: 4px;
        }
        ul.listEach dd:nth-of-type(5) {
            text-align: justify;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #888;
        }
        ul.listEach p {
            position: absolute;
            top: 32px; right: 32px;
        }
        ul.listEach p>button {
            padding: 8px 16px;
            display: flex;
            border: none;
            border-radius: 4px;
            background-color: #dc2114;
            font: 900 16px/1 'Pretendard-Black', sans-serif; color: #fff;
            cursor: pointer;
        }